POSTGRES_USER=transcendence
POSTGRES_PASSWORD=change_me
POSTGRES_DB=fitness_db

DATABASE_URL=postgresql://transcendence:change_me@postgres:5432/fitness_db?schema=public

PORT=3000


JWT_SECRET="wgfdhgfdwuywehvdhevwquggfFWYGGDUYgwwjgfiugWOQKGFHEBYUGKJBSAHGJBIH84F4FEEYUYGEFEF4FE9E"
JWT_REFRESH_SECRET="eguioehoihiwjfj94utin4h94hjb94ubu4hk4t48ih89U9T49ohI84THI4HH9oih4hOTTOJI4T4OTI4HT"